<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agora</title>
    <script>
    console.log('load the loading screen here w2snare?');
    </script>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"></link>
     <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
     <link rel='stylesheet' href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' />
      <link rel='stylesheet' src='bower_components/leaflet.markercluster/dist/MarkerCluster.css'></link>
     <link rel="stylesheet" href="myStyles.css"></link>
  </head>
  <body>

    <!-- Scripts may be placed anywhere on a page. But FYI, they block rendering of elements
     below them until after the scripts load-->



     <!-- ### TEMPLATES ### -->

    <script id="topbarTemplate" type="text/template">
     <!--<button id="boundsButton">Get Bounds!</button>-->
     <h1 id="title">agora</h1>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="username"><%= user %></span>
     <img id="registrationButton" class="topbarIcon" src="/resources/images/registration.png" height="20px" width="20px"></img>
     <img id="settingsButton" class="topbarIcon" src="/resources/images/settings.png" height="20px" width="20px"></img>
     <img id="messagingButton" class="topbarIcon" src="/resources/images/messaging.png" height="20px" width="20px"></img>
     <img id="notificationsButton" class="topbarIcon" src="/resources/images/notifications.png" height="20px" width="20px"></img>
     <div id="notificationsDisplay" class="topbarIcon" height="0px" width="0px"></div>
     <p class="username"><%= user %></p>
     <img id="searchButton" class="topbarSearchIcon" src="/resources/images/search.png" height="20px" width="20px"></img>
     <input id="searchInput" type="text"></input>
     <select id="searchSelect">
        <!--leave topics off for now, it will be way more complicated-->
       <!--<option value="Topics">Topics</option>-->
       <option value="Users">Users</option>
       <option value="Locations">Locations</option>
       <option value="Channels">Channels</option>
     </select>

    </script>


    <script id="contactRequestTemplate" type="text/template">
      <div class="notificationBox">
        <p>Add contact request from <%= sender %></p>
      </div>
    </script>

    <script id="newMessageTemplate" type="text/template">
      <div class="notificationBox">
        <p>New message from <%= sender %></p>
      </div>
    </script>

    <script id="topicActivityTemplate" type="text/template">
      <div class="notificationBox">
      </div>
    </script>

    <!--Sidebar Entry Views-->

    <script id="sidebarTopicEntryTemplate" type="text/template">

     <p class="topString">(<%= rank %>)&nbsp<span class="sidebarUsername">User:&nbsp<%= username %></span>&nbsp Chan:&nbsp<%= channel %></p>
     <div class="sidebarFloatClear">
      <img class="sidebarTopicImage"></img>
      <div class="contentAndToFromWrapper">
        <div class="sidebarContentWrapper">
          <%= headline %>
        </div>
        <div class="sidebarToFromWrapper">
          <p class="toString">TO:&nbsp<%= location %></p>
          <p class="fromString">FROM: JOJFDKSL:JFLDSKJ</p>
        </div>
      </div>
     </div>


    </script>






    <script id="sidebarLocationEntryTemplate" type="text/template">
     <strong> <%= name %> </strong>
    </script>

    <script id="sidebarChannelEntryTemplate" type="text/template">
     <strong> <%= name %> </strong>
    </script>




    <!-- CONTACTS AND MESSAGE PREVIEWS -->

    <script id="sidebarUserEntryTemplate" type="text/template">
      <p class="sidebarEntryContent"><%= username %></p>
      <p class="sidebarEntryTopicOrigin">Location: <%= location %></p>
    </script>

    <script id="sidebarMessageChainEntryTemplate" type="text/template">
      <p class="authorString">Contact:<%= contact %></p>
      <br/>
      <br/>
      <br/>
      <!--<p class="sidebarEntryTopicOrigin">Recipient:<%= type %></p>-->
    </script>



    <script id="paginationTemplate" type="text/template">
      <span class="paginationIcon" name="1">1</span>
      <span class="paginationIcon" name="2">2</span>
      <span class="paginationIcon" name="3">3</span>
      <span class="paginationIcon" name="4">4</span>
      <span class="paginationIcon" name="5">5</span>
      <span class="paginationIcon" name="6">6</span>
      <span class="paginationIcon" name="7">7</span>
      <span class="paginationIcon" name="8">8</span>
      <span class="paginationIcon" name="9">9</span>
      <span class="paginationIcon" name="10">10</span>
      <span id="paginationNextButton">Next</span>
    </script>



    <!--DETAIL ENTRY VIEWS/INCLUDES CONVERSATION SYSTEM-->

    <script id="detailTopicEntryTemplate" type="text/template">
     <div class="topicBox">
       <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
       <span class="topicTopString">
       &nbsp(<%= rank %>)
       &nbspUser:&nbsp<%= username %>
       &nbspChannel:&nbsp<%= channel %>
       </span>

       <div id="detailTopicClear">

        <img id="detailTopicImage"></img>

        <div id="topicContentBox">
          <p class="topicHeader"> <%= headline %> </p>
          <p class="topic"> <%= contents %> </p>
          <div class="replyButton"><span class="replyLabel">Reply</span></div>
        </div>

       </div>
     



     </div>
    </script>


    <script id="detailCommentEntryTemplate" type="text/template">

     <div class="commentBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="commentTopString">
      &nbsp(<%= rank %>)
      &nbspUser:&nbsp<%= username %>
      FROM::::::
      </span>

      <div class="detailCommentClear">
        <img src="resources/images/expand.png" class="expandCommentButton"></img>

        <img class="detailCommentImage"></img>

        <div class="commentContentBox">
          <p class="commentHeader"> <%= headline %> </p>
          <p class="comment"> <%= contents %> </p>
          <div class="replyButton"><span class="replyLabel">Reply</span></div>
        </div>

      </div>



     </div>
    </script>


    <script id="detailResponseEntryTemplate" type="text/template">
     <div class="responseBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="responseTopString">
      &nbsp(<%= rank %>)
      &nbspUser:&nbsp<%= username %>
      FROM::::::
      </span>

      <div class="detailResponseClear">

        <img src="resources/images/expand.png" class="expandResponseButton"></img>

        <img class="detailResponseImage"></img>

        <div class="responseContentBox">
          <p class="responseHeader"> <%= headline %> </p>
          <p class="response"> <%= contents %> </p>
          <div class="replyButton"><span class="replyLabel">Reply</span></div>
        </div>

      </div>


     </div>
    </script>



    <script id="detailReplyEntryTemplate" type="text/template">
     <div class="replyBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="replyTopString">
      &nbsp(<%= rank %>)
      &nbspUser:&nbsp<%= username %>
      FROM::::::
      </span>

      <div class="detailReplyClear">

        <img class="detailReplyImage"></img>

        <div class="replyContentBox">
          <p class="replyHeader"> <%= headline %> </p>
          <p class="reply"> <%= contents %> </p>
          <div class="replyButton"><span class="replyLabel">Reply</span></div>
        </div>

      </div>

     </div>
    </script>


    <script id="inputBoxTemplate" type="text/template">
      <div id="inputBox">
       <textarea id="inputHeadlineTextArea" placeholder="Headline"></textarea>
       <br/>
       <textarea id="inputTextArea" placeholder="Content"></textarea>
       <div id="inputBoxButton"><span>Post</span></div>
      </div>
    </script>


    <script id="messageInputBoxTemplate" type="text/template">
      <div id="messageInputBox">
       <textarea id="messageInputTextArea" placeholder="Content"></textarea>
       <div id="messageInputBoxButton"><span>Send</span></div>
      </div>
    </script>

    <script id="detailLocationEntryTemplate" type="text/template">
      <div id="locationBox">
        <h1> <%= name %> </h1>
        <button id="goToButton">Go To Location</button>
        <br/><br/><br/><br/>
      </div>
    </script>

    <script id="detailChannelEntryTemplate" type="text/template">
      <div id="channelBox">
        <h1> <%= name %> </h1>
        <button id="goToButton">Go To Channel</button>
        <br/><br/><br/><br/>
      </div>
    </script>

    <script id="detailUserEntryTemplate" type="text/template">

      <div id="profileColumnWrapper">
        <img id="profilePicture" src="http://www.utne.com/~/media/Images/UTR/Editorial/Articles/Magazine%20Articles/2012/11-01/Anonymous%20Hacktivist%20Collective/Anonymous-Seal.jpg" id="groupProfilePicture"></img>
        <br/>
        <div id="profileRightColumn">
          <h1 class="detailHeaderEntry"> <%= username %> </h1>
          <h4>Location:&nbsp <%= location %> </h4>
        </div>
      </div>
      <h3>About:</h3>
      <p><%= about %></p>

      <!--<p>Cardigan trust fund locavore messenger bag. Deep v hoodie cray, _1 master cleanse literally slow-carb Shoreditch Truffaut craft beer normcore mustache. Mumblecore pop-up kogi, ennui paleo mustache you probably havent heard of them. Artisan jean shorts authentic, pickled cardigan Austin Cosby sweater High Life Kickstarter street art chillwave. Skateboard wayfarers raw denim umami fap mustache. Locavore gentrify jean shorts Neutra. Gentrify cred occupy, 3 wolf moon quinoa Truffaut High Life bespoke.</p>-->



    </script>

    <script id="detailMessageEntryTemplate" type="text/template">
      <span class="authorString"><%= sender %>:&nbsp</span>
      <span class="detailHeaderEntry"> <%= contents %> </span>
      <hr/>
    </script>



    <!--Topic Creation-->
    <script id="topicCreationTemplate" type="text/template">
      <br/>
      <input id="topicCreationHeadline" placeholder="Headline"></input>
      <br/><br/>
      <input id="topicCreationLink" placeholder="Link"></input>
      <br/><br/>
      <textarea id="topicCreationContent" placeholder="Content"></textarea>
      <p>other options</p>
    </script>




    <!--channel creation-->
    <script id="channelCreationTemplate" type="text/template">
      <br/>
      <input id="channelNameInput" placeholder="Channel Name"></input>
      <br/><br/>
      This group is 
      <input id="radioPublic" type="radio" name="public" value="public" checked>Public</input>
      <input type="radio" name="private" value="private">Private</input>
      <br/><br/>
      <textarea id="descriptionInput" placeholder="Description" style="width: 200px; height: 100px;"></textarea>
      <br/>
      <input id="parentInput" placeholder="Parent Channel"></input><br/>
      <button id="nextButton">Next</button>
    </script>


    <!--location creation-->
    <script id="locationCreationTemplate" type="text/template">
      <br/>
      <input id="locationNameInput" placeholder="Location Name"></input>
      <br/><br/>
      This group is 
      <input id="radioPublic" type="radio" name="public" value="public" checked>Public</input>
      <input type="radio" name="private" value="private">Private</input>
      <br/><br/>
      <textarea id="descriptionInput" placeholder="Description" style="width: 200px; height: 100px;"></textarea>
      <br/>
      <input id="parentInput" placeholder="Parent Location"></input><br/>
      <button id="nextButton">Next</button>
    </script>



    <script id="placementViewTemplate" type="text/template">
    Place a point! Click Done when finished.
    <br/>
    <br/>
    <br/>
    <button id="pointPlacedButton">Done!</button>
    </script>

    <script id="emailInviteViewTemplate" type="text/template">
    </script>


    




    <script id="registrationViewTemplate" type="text/template">
    <div class="login">
     <h2>LOGIN</h2>
     <input id="loginUsernameInput" type="text" placeholder="username"></input>
     <br/> <input id="loginPasswordInput" type="password" placeholder="password"></input>
     <button id="loginButton">Login!</button>
    </div>
    <hr>
    <div class="signup">
     <h2>SIGNUP</h2>
     <button id="signupButton" type="text">Signup</button>
    </div>
    </script>

    <script id="signupOneTemplate" type="text/template">
      SIGNUP ONE
      <br/>
      <!--<input placeholder="email" id="signupEmailInput"></input>-->
      <br/><br/>
      <input placeholder="username" id="signupUsernameInput"></input>
      <br/>
      <p>!!USE DUMMY PASSWORD FOR NOW, SYSTEM IS NOT SECURE!!</p>
      <input type="password" placeholder="password" id="signupPasswordInput"></input>
      <br/>
      <input type="password" placeholder="confirm password" id="signupConfirmPasswordInput"></input>
      <br/><br/>
      <input placeholder="origin" id="signupOriginInput"></input>
      <br/>
      <input placeholder="about" id="signupAboutInput"></input>
      <br/>
      <br/>
      <button>Register</button>
    </script>

    <script id="signupTwoTemplate" type="text/template">
      SELECT GROUPS
      <br/><br/><br/><br/>
      <button> FINISH </button>
    </script>



    <script id="alertSearchTemplate" type="text/template">
    <h2 class="loading">LOADING...</h2>
    </script>

    <script id="alertFollowupSuccessTemplate" type="text/template">
    followup success template
    </script>

    <script id="alertFollowupFailureTemplate" type="text/template">
    followup failure template
    </script>

    <script id="alertGroupCreationSuccessTemplate" type="text/template">
    Group creation success
    </script>

    <script id="alertGroupCreationFailureTemplate" type="text/template">
    Group creation failure
    </script>


    <script id="placeTemplate" type="text/template">
      <br/>
      Name:&nbsp<%= name %>
      <br/>
      Description:&nbsp<%= description %>
      <br/>
      Population:&nbsp<%= population %>
    </script>

    <!--for use with pathing to unique users-->
    <script id="userTemplate" type="text/template">
      USER TEMPLATE
    </script>


    <script id="settingsViewTemplate" type="text/template">
      <h1> Settings and Account Management </h1>
      <ul id="settingsViewList">
        <li> username: noahcharris </li>
        <!--<li> <button id="editProfileButton">Edit Profile</button> </li>-->
        <!--<li> <button>Change Email </li>-->
        <!--<li> <button>Change Password </li>-->
      </ul>
    </script>



    <!-- ### DEPENDENCIES ### -->

    <!--<script src="dependencies/jquery/jquery.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script src="dependencies/underscore/underscore.js"></script>
    <script src="dependencies/backbone/backbone.js"></script>

    <!--<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>-->
    <!--<script src="leaflet.js"></script>-->

    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>

    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js"></script>
    <script src="dependencies/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    
    <script src="/resources/us-states.js"></script>
    <script src="/resources/newCountries.js"></script>
    <script src="/resources/cities.js"></script>

    <script src="controllers/AppController.js"></script>
    <script src="controllers/MapController.js"></script>
    <script src="controllers/router.js"></script>

    <script src="views/LocationView.js"></script>
    <script src="views/ChannelView.js"></script>
    <script src="views/SidebarEntryView.js"></script>
    <script src="views/SidebarView.js"></script>
    <script src="views/PaginationView.js"></script>
    <script src="views/TopbarView.js"></script>
    <script src="views/DropdownView.js"></script>
    <script src="views/DetailView.js"></script>
    <script src="views/DetailTopicEntryView.js"></script>
    <script src="views/DetailLocationEntryView.js"></script>
    <script src="views/DetailChannelEntryView.js"></script>
    <script src="views/DetailUserEntryView.js"></script>
    <script src="views/DetailMessageEntryView.js"></script>
    <script src="views/SettingsView.js"></script>
    <script src="views/EditProfileView.js"></script>
    <script src="views/RegistrationView.js"></script>
    <script src="views/SignupViewOne.js"></script>
    <script src="views/SignupViewTwo.js"></script>
    <script src="views/AlertView.js"></script>
    <script src="views/TopicCreationView.js"></script>
    <script src="views/LocationCreationView.js"></script>
    <script src="views/ChannelCreationView.js"></script>
    <script src="views/PlacementView.js"></script>
    <script src="views/EmailInviteView.js"></script>

    <!--minified/concated output-->
    <!--<script src="dist/output.js"></script>-->


    <!-- ### PAGE SKELETON ### -->

    <div id="wrapper">
      <div id="topbarWrapper" class="topbar">
        <div id="topbar1"></div>
         <div id="topbar2"></div>
      </div>

      <div id="mobileSelectionBarWrapper">
        <button>HELLO</button>
      </div>

      <div id="mainWrapper">
        <div id="map">
        </div>
    
        <div id="sidebarContainer">
          <div id="content1">
          </div>
          <div id="content2">
          </div>
        </div>
      </div>

    </div>
      


    <!-- ### KICKOFF -->
      
    <script>
      $(function(){

        var appController = new Agora.Controllers.AppController();

      });
    </script>


  </body>
</html>