<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agora</title>
    <script>
    //console.log('load the loading screen here w2snare?');

    </script>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"></link>
     <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
     <link rel='stylesheet' href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' />
      <link rel='stylesheet' src='bower_components/leaflet.markercluster/dist/MarkerCluster.css'></link>
     <link rel="stylesheet" href="myStyles.css"></link>
  </head>
  <body>


    <!-- Scripts may be placed anywhere on a page. But FYI, they block rendering of elements
     below them until after the scripts load-->



     <!-- ### TEMPLATES ### -->

    <script id="topbarTemplate" type="text/template">
     <!--<button id="boundsButton">Get Bounds!</button>-->
     <h1 id="title">agora</h1>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="username"><%= username %></span>
     <img id="registrationButton" class="topbarIcon" src="/resources/images/registration.png" height="20px" width="20px"></img>
     <img id="settingsButton" class="topbarIcon" src="/resources/images/settings.png" height="20px" width="20px"></img>
     <img id="messagingButton" class="topbarIcon" src="/resources/images/messaging.png" height="20px" width="20px"></img>
     <div id="notificationsButton" class="topbarIcon">
     <img id="notificationsImage" src="/resources/images/notifications.png"></img>
     </div>
      <div id="notificationsDisplay" class="topbarIcon" height="0px" width="0px"></div>
     <img id="searchButton" class="topbarSearchIcon" src="/resources/images/search.png" height="20px" width="20px"></img>
     <input id="searchInput" type="text"></input>
     <select id="searchSelect">
       <!--leave topics off for now, it will be way more complicated-->
       <!--<option value="Topics">Topics</option>-->
       <option id="userOption" value="Users">Users</option>
       <option id="locationOption" value="Locations">Locations</option>
       <option id="channelOption" value="Channels">Channels</option>
     </select>

     <!--NEED TO DISPLAY THESE IN NATIVE TONGUE-->
     <select id="languageSelect">
      <option value="English">English</option>
      <option value="Arabic">???</option>
      <option value="Chinese">中国</option>
      <option value="French">Français</option>
      <option value="German">Deutsch</option>
      <option value="Japanese">日本人</option>
      <option value="Portuguese">Português</option>
      <option value="Russian">Pусский</option>
      <option value="Spanish">Español</option>
     </select>



    </script>


    <script id="contactRequestTemplate" type="text/template">
      <div class="notificationBox">
        <p><%= contactRequestLabel %>&nbsp<%= sender %></p>
      </div>
    </script>

    <script id="newMessageTemplate" type="text/template">
      <div class="notificationBox">
        <p><%= newMessageLabel %><%= sender %></p>
      </div>
    </script>

    <script id="topicActivityTemplate" type="text/template">
      <div class="notificationBox">
      </div>
    </script>

    <!--Sidebar Entry Views-->

    <script id="sidebarTopicEntryTemplate" type="text/template">

     <div class="sidebarFloatClear">
      <img class="sidebarTopicImage"></img>
      <div class="contentAndToFromWrapper">
        <div class="sidebarContentWrapper">
          <%= headline %>
        </div>
        <div class="sidebarToFromWrapper">
          <p class="topString">(<%= rank %>)&nbsp<span class="sidebarUsername"><%= userLabel %>:&nbsp<%= username %></span>&nbsp<%= locationLabel %>:&nbsp<span class="locationString">&nbsp<%= location %></span>~<span class="sidebarChannelString"><%= channel %></span></p>
        </div>
      </div>
     </div>


    </script>



    <script id="sidebarLocationEntryTemplate" type="text/template">
     <strong> <%= name %> </strong>

    </script>

    <script id="sidebarChannelEntryTemplate" type="text/template">
     <strong> <%= name %> </strong>



    </script>




    <!-- CONTACTS AND MESSAGE PREVIEWS -->

    <script id="sidebarUserEntryTemplate" type="text/template">
      <div class="sidebarFloatClear">
       <img class="sidebarTopicImage"></img>
       <div class="contentAndToFromWrapper">
         <div class="sidebarContentWrapper">
            <%= username %></br>
            <%= locationLabel %>: <%= location %>
         </div>
        </div>
      </div>
    </script>

    <script id="sidebarMessageChainEntryTemplate" type="text/template">
      <p class="contactTitle"><%= contact %></p>
      <br/>
      <br/>
      <br/>
      <!--<p class="sidebarEntryTopicOrigin"><%= recipientLabel %>:<%= type %></p>-->
    </script>



    <script id="paginationTemplate" type="text/template">
      <span class="paginationIcon" name="1">1</span>
      <span class="paginationIcon" name="2">2</span>
      <span class="paginationIcon" name="3">3</span>
      <span class="paginationIcon" name="4">4</span>
      <span class="paginationIcon" name="5">5</span>
      <span class="paginationIcon" name="6">6</span>
      <span class="paginationIcon" name="7">7</span>
      <span class="paginationIcon" name="8">8</span>
      <span class="paginationIcon" name="9">9</span>
      <span class="paginationIcon" name="10">10</span>
      <span id="paginationNextButton"></span>
    </script>



    <!--DETAIL ENTRY VIEWS/INCLUDES CONVERSATION SYSTEM-->

    <script id="detailTopicEntryTemplate" type="text/template">
     <div class="topicBox">
       <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
       <span class="topicTopString">
       &nbsp(<%= rank %>)
       &nbsp<span id="detailUserString"><%= userLabel %>:&nbsp<%= username %></span>
       &nbsp<span id="detailChannelString"><%= channelLabel %>:&nbsp<%= channel %></span>
       &nbsp<span id="topicTimestamp"><%= postedAtLabel %>:&nbsp<%= createdat %></span>
       </span>

       <div id="detailTopicClear">

        <img id="detailTopicImage"></img>

        <div id="topicContentBox">
          <p class="topicHeader"> <%= headline %> </p>
          <p class="topic"> <%= contents %> </p>
        </div>
        <div id="linkBox"><%= linkLabel %></div>
        <div class="replyButton"><%= replyLabel %></div>

       </div>
     



     </div>
    </script>


    <script id="detailCommentEntryTemplate" type="text/template">

     <div class="commentBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="commentTopString">
      &nbsp(<%= rank %>)
      &nbsp<span class="detailCommentUserString"><%= userLabel %>:&nbsp<%= username %></span>
      <span class="fromString" ><%= fromLabel %>:&nbsp<%= authorlocation %></span>
      </span>

      <div class="detailCommentClear">
        <img src="resources/images/expand.png" class="expandCommentButton"></img>

        <img class="detailCommentImage"></img>

        <div class="commentContentBox">
          <p class="commentHeader"> <%= headline %> </p>
          <p class="comment"> <%= contents %> </p>
        </div>
        <div class="replyButton"><%= replyLabel %></div>

      </div>



     </div>
    </script>


    <script id="detailResponseEntryTemplate" type="text/template">
     <div class="responseBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="responseTopString">
      &nbsp(<%= rank %>)
      &nbsp<span class="detailResponseUserString"><%= userLabel %>:&nbsp<%= username %></span>
      <span class="fromString" ><%= fromLabel %>:&nbsp<%= authorlocation %></span>
      </span>

      <div class="detailResponseClear">

        <img src="resources/images/expand.png" class="expandResponseButton"></img>

        <img class="detailResponseImage"></img>

        <div class="responseContentBox">
          <p class="responseHeader"> <%= headline %> </p>
          <p class="response"> <%= contents %> </p>
        </div>
        <div class="replyButton"><%= replyLabel %></div>

      </div>


     </div>
    </script>



    <script id="detailReplyEntryTemplate" type="text/template">
     <div class="replyBox">
      <img class="upvoteButton" src="/resources/images/upvote.png" height="20px" width="20px"></img>
      <span class="replyTopString">
      &nbsp(<%= rank %>)
      &nbsp<span class="detailReplyUserString"><%= userLabel %>:&nbsp<%= username %></span>
      <span class="fromString" ><%= fromLabel %>:&nbsp<%= authorlocation %></span>
      </span>

      <div class="detailReplyClear">

        <img class="detailReplyImage"></img>

        <div class="replyContentBox">
          <p class="replyHeader"> <%= headline %> </p>
          <p class="reply"> <%= contents %> </p>
        </div>
        <!--<div class="replyButton"><%= replyLabel %></div>-->

      </div>

     </div>
    </script>

    <script id="inputBoxTemplate" type="text/template">
      <div id="inputBox">
       <textarea id="inputHeadlineTextArea" placeholder="Headline"></textarea>
       <br/>
       <textarea id="inputTextArea" placeholder="Content"></textarea>
       <div id="inputBoxButton"><span id="postLabel"></span></div>
      </div>
    </script>

    <script id="messageInputBoxTemplate" type="text/template">
      <div id="messageInputBox">
       <textarea id="messageInputTextArea" placeholder="Content"></textarea>
       <div id="messageInputBoxButton"><span><%= sendLabel %></span></div>
      </div>
    </script>

    <script id="detailLocationEntryTemplate" type="text/template">
      <div id="profileColumnWrapper">
        <img id="profilePicture" src="http://images.wisegeek.com/map-with-compass.jpg"></img>
        <br/>
        <div id="profileRightColumn">
          <h1 class="detailHeaderEntry"> <%= name %> </h1>
        </div>
      </div>
      <h3><%= aboutLabel %>:</h3>
      <p><%= description %></p>

      <div id="locationBox">
        <button id="goToButton"><%= goToLabel %></button>
        <br/><br/><br/><br/>
      </div>
    </script>

    <script id="detailChannelEntryTemplate" type="text/template">
      <div id="profileColumnWrapper">
        <img id="profilePicture" src="http://upload.wikimedia.org/wikipedia/en/9/98/Laughing_man_logo.png"></img>
        <br/>
        <div id="profileRightColumn">
          <h1 class="detailHeaderEntry"> <%= name %> </h1>
        </div>
      </div>
      <h3><%= aboutLabel %>:</h3>
      <p><%= description %></p>

      <div id="channelBox">
        <button id="goToButton"><%= goToLabel %></button>
        <br/><br/><br/><br/>
      </div>
    </script>

    <script id="detailUserEntryTemplate" type="text/template">

      <div id="profileColumnWrapper">
        <img id="profilePicture" src="http://www.utne.com/~/media/Images/UTR/Editorial/Articles/Magazine%20Articles/2012/11-01/Anonymous%20Hacktivist%20Collective/Anonymous-Seal.jpg"></img>
        <br/>
        <div id="profileRightColumn">
          <h1 class="detailHeaderEntry"> <%= username %> </h1>
          <h4><%= locationLabel %>:&nbsp <%= location %> </h4>
        </div>
      </div>
      <h3><%= aboutLabel %>:</h3>
      <p><%= about %></p>
      <p><%= recentlyPostedLabel %></p>
      <br/>
      <br/>
      <br/>
      <ul id="recentlyPostedList"></ul>



    </script>

    <script id="detailMessageEntryTemplate" type="text/template">
      <span class="authorString"><%= sender %>:&nbsp</span>
      <span class="detailHeaderEntry"> <%= contents %> </span>
      <hr/>
    </script>



    <!--Topic Creation-->
    <script id="topicCreationTemplate" type="text/template">
      <br/>
      <input id="topicCreationHeadline" placeholder="Headline"></input>
      <br/><br/>
      <input id="topicCreationLink" placeholder="Link"></input>
      <br/><br/>
      <textarea id="topicCreationContent" placeholder="Content"></textarea>
      <!-- have to figue out how to translate-->
      <form action="?" method="POST">
         <div id="html_element"></div>
         <br>
        <div class="g-recaptcha" id="recaptcha"></div>
       </form>
      <script src="https://www.google.com/recaptcha/api.js?onload=agoraOnloadCallback&render=explicit" async defer></script>
    </script>




    <!--channel creation-->
    <script id="channelCreationTemplate" type="text/template">
      <br/>
      <input id="channelNameInput" placeholder="Channel Name"></input>
      <br/><br/>
      This group is 
      <form action="">
      <input type="radio" name="publicPrivate" value="public" checked><%= publicLabel %></input>
      <input type="radio" name="publicPrivate" value="private"><%= privateLabel %></input>
      </form>
      <br/><br/>
      <textarea id="descriptionInput" placeholder="Description" style="width: 200px; height: 100px;"></textarea>
      <br/>
      <input id="parentInput" placeholder="Parent Channel"></input><br/>
      <button id="nextButton"><%= nextLabel %></button>
    </script>


    <!--location creation-->
    <script id="locationCreationTemplate" type="text/template">
      <br/>
      <input id="locationNameInput" placeholder="Location Name"></input>
      <br/><br/>
      This group is 
      <input type="radio" name="publicPrivate" value="public" checked><%= publicLabel %></input>
      <input type="radio" name="publicPrivate" value="private"><%= privateLabel %></input>
      <br/><br/>
      <textarea id="descriptionInput" placeholder="Description" style="width: 200px; height: 100px;"></textarea>
      <br/>
      <input id="parentInput" placeholder="Parent Location"></input><br/>
      <button id="nextButton"><%= nextLabel %></button>
    </script>



    <script id="placementViewTemplate" type="text/template">
    <%= placementLabel %>
    <br/>
    <br/>
    <br/>
    <button id="pointPlacedButton"><%= doneLabel %></button>
    </script>

    
    <!--dfjsaklfdjsakflsj;fdksla;fjkdlsa;fjdksal;fjdskal;fjdksal;fjdsakl;fjdskal;fjdskla;fjdklsa;fjdk-->

    <script id="registrationViewTemplate" type="text/template">
    <div class="login">
     <h2><%= bigLoginLabel %></h2>
     <input id="loginUsernameInput" type="text" placeholder="username"></input>
     <br/> <input id="loginPasswordInput" type="password" placeholder="password"></input>
     <button id="loginButton"><%= smallLoginLabel %></button>
     <br/>
     <br/>
     <button id="logoutButton"><%= logoutLabel</button>
    </div>
    <hr>
    <div class="signup">
     <h2><%= bigRegisterLabel %></h2>
     <button id="signupButton" type="text"><%= smallRegisterLabel %></button>
    </div>
    </script>

    <script id="signupTemplate" type="text/template">
      <%= bigRegisterLabel %>
      <br/>
      <br/><br/>
      <input placeholder="username" id="signupUsernameInput"></input>
      <button id="checkAvailabilityButton"><%= availabilityLabel %></button>
      <br/>
      <input type="password" placeholder="password" id="signupPasswordInput"></input>
      <br/>
      <input type="password" placeholder="confirm password" id="signupConfirmPasswordInput"></input>
      <br/>
      <br/><%= explanationLabel1 %></br>
      <input placeholder="email" id="signupEmailInput"></input>
      <br/>
      <br/><%= explanationLabel2 %></br>
      <input placeholder="origin" id="signupOriginInput"></input>
      <input placeholder="current location" id="signupLocationInput"></input>
      <div id="signupLocation"></div>
      <br/>
      <input placeholder="about" id="signupAboutInput"></input>
      <br/>
      <br/>
      <form action="?" method="POST">
         <div id="html_element"></div>
         <br>
        <div class="g-recaptcha" id="recaptcha"></div>
       </form>
      <button id="registrationButton"><%= smallRegisterLabel %></button>
      <script src="https://www.google.com/recaptcha/api.js?onload=agoraOnloadCallback&render=explicit" async defer></script>
    </script>


    <script type="text/javascript">

        var agoraOnloadCallback = function() {

          grecaptcha.render('html_element', {
          'sitekey' : '6LcMXQATAAAAAG6cW_Vdw0-qgIBTry5SJrOHinF_',
          });

        };
    </script>


    <script id="settingsViewTemplate" type="text/template">
      <h1 id="menu title"> <%= menuLabel %> </h1>
      <div id="buttonBox"></div>
      <br/><br/><br/>
      <%= recentlyVisitedLabel %>
      <ul id="recentlyVisited" style="list-style-type:none;"></ul>
    </script>

    <script id="changeViewTemplate" type="text/template">
      <h1></h1>
    </script>



    <!-- ### DEPENDENCIES ### -->

    <!--<script src="dependencies/jquery/jquery.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script src="dependencies/underscore/underscore.js"></script>
    <script src="dependencies/backbone/backbone.js"></script>
    <script src="dependencies/q.js"></script>

    <!--<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>-->
    <!--<script src="leaflet.js"></script>-->

    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>


    <script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js"></script>
    <script src="dependencies/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    
    <script src="/resources/us-states.js"></script>
    <script src="/resources/newCountries.js"></script>
    <script src="/resources/cities.js"></script>
    <script src="/resources/translations.js"></script>

    <script src="controllers/AppController.js"></script>
    <script src="controllers/MapController.js"></script>
    <script src="controllers/router.js"></script>

    <script src="views/LocationView.js"></script>
    <script src="views/ChannelView.js"></script>
    <script src="views/SidebarEntryView.js"></script>
    <script src="views/SidebarView.js"></script>
    <script src="views/PaginationView.js"></script>
    <script src="views/TopbarView.js"></script>
    <script src="views/DetailView.js"></script>
    <script src="views/DetailTopicEntryView.js"></script>
    <script src="views/DetailLocationEntryView.js"></script>
    <script src="views/DetailChannelEntryView.js"></script>
    <script src="views/DetailUserEntryView.js"></script>
    <script src="views/DetailMessageEntryView.js"></script>
    <script src="views/SettingsView.js"></script>
    <script src="views/ChangeView.js"></script>
    <script src="views/EditProfileView.js"></script>
    <script src="views/RegistrationView.js"></script>
    <script src="views/SignupView.js"></script>
    <script src="views/TopicCreationView.js"></script>
    <script src="views/LocationCreationView.js"></script>
    <script src="views/ChannelCreationView.js"></script>
    <script src="views/PlacementView.js"></script>

    <!--minified/concated output-->
    <!--<script src="dist/output.js"></script>-->


    <!-- ### PAGE SKELETON ### -->

    <div id="wrapper">
      <div id="topbarWrapper" class="topbar">
        <div id="topbar1"></div>
         <div id="topbar2"></div>
      </div>

      <div id="mobileSelectionBarWrapper">
        <button>HELLO</button>
      </div>

      <div id="mainWrapper">
        <div id="map">
        </div>
    
        <div id="sidebarContainer">
          <div id="content1">
          </div>
          <div id="content2">
          </div>
        </div>
      </div>

    </div>

    <div id="loader"></div>
    <div id="loaderMask"></div>
      


    <!-- ### KICKOFF -->
      
    <script>
      $(function(){

        var params = {
          mobile: false,
          language: 'en',
          transition: 0.6,
          adjustedResponseHeight: 26,
          adjustedReplyHeight: 8
        }

        var appController = new Agora.Controllers.AppController(params);

      });
    </script>


  </body>
</html>