@font-face {
  font-family: 'clearSans';
  src: url('resources/TTF/ClearSans-Light.ttf');
}

@font-face {
  font-family: 'clearBold';
  src: url('resources/TTF/ClearSans-Bold.ttf');
}

@font-face {
  font-family: 'clearThin';
  src: url('resources/TTF/ClearSans-Thin.ttf');
}

body {
  font-family: 'clearSans';
  margin: 0px;
  background-color: #f8f8f8;
}





/****************/
/***  TOPBAR  ***/
/****************/


#topbarWrapper {
  width: 100%;
  /*height: 100px;*/
  height: auto;
}

#topbar1 {
  padding: 14px;
  height: 42px;
  background-color: #f8f8f8;
}



#title {
  cursor: pointer;
  position: relative;
  bottom: 7px;
  font-family: 'clearSans';
  color: #333333;
  display: inline;
}

.topbarIcon {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.topbarSearchIcon {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 70px;
}

#searchSelect {
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 8px;
}

.username {
  display: none;
  position: relative;
  float: right;
  bottom: 1000px;
  margin-right: 40px;
}


#searchInput {
  display: relative;
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}

#topbar2 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #57646D;
}

/***********************************/
/***  PATH AND CHANNEL VIEWS     ***/
/***********************************/

.treeButton {
  cursor: pointer;
}

/* I think there's a better way to organize these 6 */
#pathPrefix {
  position: relative;
  color: #f8f8f8;
}

/*what we set as width here will dictate the maximum characters allowed for paths and channels*/
.locationView {
  display: inline-block;
  width: 420px;
}

.pathWrapper {
  position: relative;
  color: #f8f8f8;
  /*top: 4px;*/
}

.pathName {
  cursor: pointer;
  color: #f8f8f8;
  text-decoration: none;
}

#pathInput {
  position:absolute;
  width: 300px;
}

#pathSearchButton {
  cursor: pointer;
}

#pathSearchResultList {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 9999;
}

#locationSubtreeView {
  position: absolute;
  z-index: 502;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background-color: green;
}
.channelView {
  display: inline-block;
  width: 350px;
  position: relative;
  /*display: inline-block;*/
}

.channelName {
  color: #f8f8f8;
}

.channelWrapper {
  position: relative;
  color: #f8f8f8;
}

#channelInput {
  position: absolute;
  width: 250px;
}

#channelSearchButton {
  cursor: pointer;
}

#channelSearchResultList {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 9999;
}

#channelSubtreeView {
  position: absolute;
  z-index: 502;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background-color: green;

}




#mobileSelectionBarWrapper {
  height: 0px;
  width:100%;
}


/****************/
/***  MAP     ***/
/****************/

#map {
  height: 600px;
  width: 70%;
  right:0px;
  margin: 0px;
  position: absolute;
  z-index: 0;
  -webkit-transition-duration:0.4s;
  -moz-transition-duration:1s;
}




#content1 {
  position: relative;
  height: 100%;
  width: auto;
  z-index: 501;
}

#content2 {
  z-index: 500;
  position: absolute;
  right: 0px;
  width: 510px;
  height: 600px;
  position: absolute;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 2px;
  border-color: #E8E8E8;
  top: 0px;
  right: 0px;
  display: inline-block;
  background-color: #f8f8f8;
}


/****************/
/*** SIDEBAR  ***/
/****************/

#sidebarContainer {

/* width definted in appController*/
/* height of this and map used to be 625 */
  height: 600px;
  left: 0px;
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 2px;
  border-color: #E8E8E8;
  position: relative;
  overflow: hidden;
  -webkit-transition-duration:0.4s;
  -moz-transition-duration:0.4s;

}

.sidebarView {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
  left: 0px;
  position: relative;
  display: inline-block;
  /*-webkit-transition-duration:0.7s;
  -moz-transition-duration:0.7s;*/
}

.sidebarEntryView {
  background-color: #f8f8f8;
  position: relative;
  left: 0px;
  width: 97%;
  border-color: #E8E8E8;
  border-bottom-style: solid;
  border-width: 2px;
  padding: 10px 5px;
  z-index: 50;
  /*-webkit-transition-duration:0.7s;
  -moz-transition-duration:0.7s;*/
}

.authorString {
  font-family: 'clearThin';
  width:100%;
  font-size: 12px;
  margin: 0px;
}

.sidebarEntryContent {
  font-family: 'clearThin';
  width:90%;
  position: relative;
  left: 7%;
  margin: 0px;
}

.sidebarEntryTopicOrigin {
  width:90%;
  position: relative;
  left: 7%;
  font-size: 11px;
  margin: 0px;
}

.sidebarInnerList {
  position: relative;
  list-style:none;
  padding-left:0;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 84%;
}

.leftHalfButton {
  position: relative;
  cursor: pointer;
/*  border-style: solid;
  border-width: 1px;*/
  width:50%;
  height:8%;
  left:0px;
  background-color: #E8E8E8;
  display: inline-block;
}

.rightHalfButton {
  position: absolute;
  cursor: pointer;
/*  border-style: solid;
  border-width: 1px;*/
  width:50%;
  height:8%;
  right:0px;
  background-color: #E8E8E8;
  display: inline-block;
}


.leftThirdButton {
  position: relative;
  cursor: pointer;
/*  border-style: solid;
  border-width: 1px;*/
  width:33%;
  height:8%;
  left:0px;
  background-color: #E8E8E8;
  display: inline-block;
}

#timeframeSelect {
  position: absolute;
  top: 20px;
  left: -20px;
}

.middleThirdButton {
  position: relative;
  cursor: pointer;
 /* border-style: solid;
  border-width: 1px;*/
  width:34%;
  height:8%;
  background-color: #E8E8E8;
  display: inline-block;

}

.rightThirdButton {
  position: absolute;
  cursor: pointer;
/*  border-style: solid;
  border-width: 1px;*/
  width:33%;
  height:8%;
  right:0px;
  background-color: #E8E8E8;
  display: inline-block;
}

.tabLabel {
  position: relative;
  left: 26px;
  top: 10px;
}

#creationButton {
  background-color: #E9573F;
  color: white;
  font-family: "clearBold";
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8%;
  z-index: 200;
  border-radius: 2px;
}

.createLabel {
  position: relative;
  left: 32%;
  top: 10px;
}




/* !!!!! THIS FILE IS PRETTY UNORGANIZED AFTER THIS POINT !!!!*/

/****************/
/*** DETAIL   ***/
/****************/

.detailView {
  /*width is set dynamically*/
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 2px;
  border-color: #E8E8E8;
  top: 0px;
  right: 0px;
  display: inline-block;
  background-color: #f8f8f8;
}

.detailEntryItem {
  background-color: #f8f8f8;
  overflow-y: scroll;
  position: relative;
  width: 97%;
  height: 100%;
  padding-top: 10px;
  z-index: 0;
}


.detailHeaderEntry {
}


.x {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 6px;
  top: 2px;
  z-index: 100;
}


/***************************/
/***************************/
/*** DETAIL-TOPIC VIEW *****/
/***************************/
/***************************/


/* INPUT BOX */
#inputBox {
  position: absolute;
  background-color: #57646D;
  border-style: solid;
  border-width: 2px;
  border-color: #E8E8E8;
  overflow: hidden;
  bottom: 0px;
  height: 100px;
  width: 100%;
  z-index: 1000;
  -webkit-transition-duration:0.3s;
  -moz-transition-duration:0.3s;
}

#inputBoxButton {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 9px;
  height: 75px;
  width: 40px;
  background-color: #E9573F;
}

#inputBoxButton span {
  position: relative;
  top: 15px;
  left: 3px;
  color: white;
}

#inputHeadlineTextArea {
  position: relative;
  left: 9%;
  top: 8px;
  height: 15px;
  width: 70%;
}

#inputTextArea {
  position: relative;
  left: 9%;
  top: 8px;
  height: 44px;
  width: 70%;
}


/* *  * * * * 8 * * 8*/
/* DISCUSSION LAYOUT */
/*∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆∆*/

.upvoteButton {
  cursor: pointer;
}

.replyButton {
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 57px;
  margin: 3px;
  background-color: #E9573F;
  border-radius: 2px;
  color: white;
  font-family: "clearBold";
}

.replyLabel {
  position: relative;
  padding: 6px;
}


/* TOPICS */
.topicBox {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
}
.topicUpvoteBox {
  position: relative;
  left: 10px;
  float:left;
  width:10%;
}
.topicContentBox {
  width: 90%;
}
.topicHeader {
  font-size: 20px;
}
.topic {
  font-family: 'clearThin';
  margin-bottom: 0px;
}

/* COMMENTS */
.commentBox {
  position: relative;
  height: 75px;
  width: 100%;
  overflow: hidden;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
}
.commentUpvoteBox {
  position: relative;
  left: 10px;
  width: 10%;
}
.commentToolbox {
  position:relative;
  float: left;
  width: 20%;
  height: 100%;
  background-color: green;
}
.commentContentBox {
  width: 100%;
}
.commentHeader {
  font-size: 20px;
}
.comment {
  font-family: 'clearThin';
  padding: 0px;
  margin:0px;
}

/* RESPONSES */
.responseBox {
  position: relative;
  width: 100%;
  height: 75px;
  overflow: hidden;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
}
.responseUpvoteBox {
  position: relative;
  left: 10px;
  width: 10%;
}
.responseToolbox {
  position:relative;
  float: left;
  width: 20%;
  height: 100%;
  background-color: green;
}
.responseContentBox {
  width: 100%;
}
.responseHeader {
  font-size: 20px;
}
.response {
  font-family: 'clearThin';
  padding: 0px;
  margin:0px;
}


/* REPLIES */
.replyBox {
/*  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0px;*/
  border-color: #E8E8E8;
  position: relative;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.replyUpvoteBox {
  position: relative;
  float: left;
  left: 10px;
  width: 10%;
}
.replyContentBox {
  width: 100%;
}
.replyHeader {
  font-size: 20px;
}
.reply {
  font-family: 'clearThin';
  position: relative;
  padding: 0px;
  margin: 0px;
}


/* EXPANSION/CONTRACTION */

.commentExpansionBox {
  position: relative;
  width: 90%;
  left: 10%;
  height: 0px;
  overflow: hidden;
  -webkit-transition-duration:0.6s;
  -moz-transition-duration:0.6s;
}

.expandCommentButton {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
}

.responseExpansionBox {
  position: relative;
  width: 90%;
  left: 10%;
  height: 0px;
  overflow: hidden;
  -webkit-transition-duration:0.6s;
  -moz-transition-duration:0.6s;
}

.expandResponseButton {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
}



.spacer {
  width: 100%;
  height: 40px;
}


/**************/
/*PROFILE PAGE*/
/**************/

#profilePicture {
  float: left;
  height: 200px;
  width: 200px;
}

#profileRightColumn {
  float: left;
}

#profileColumnWrapper {
  height: 200px;
  width: 100%;
}


















#placeBox {
  width: 100%;
  height: 530px;
}







textarea {
  resize:none;
}


.loading {
  padding: 220px;
}



.highlight {
  background-color: white;
}



.signup {
  padding: 20px;
}

.login {
  padding: 20px;
}





.alertView {
  position: absolute;
  z-index:300;
  float: right;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: white;
  border-style: solid;
}

.creationView {
  position: relative;
  float: right;
  width: 500px;
  height: 570px;
  right: 10px;
  top: 17px;
  background-color: white;
  border-style: solid;
}

.placementView {
/*  width: 250px;
  height: 570px;
  overflow: hidden;
  background-color: white;
  border-style: solid;
  left: 15px;
  position: relative;
  display: inline-block;*/

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
  left: 0px;
  position: relative;
  display: inline-block;
}

.topicView {
  
}

.registrationView {
}

.placeView {

}

.userView {
}




/* ## SETTINGS ## */

.settingsView {

}

#settingsViewList {
  list-style: none;
}


/* ## TOPIC CREATION ##*/

.topicCreationView {

}

#topicCreationHeadline {
  width: 83%;
  position: relative;
  left: 3%;
}

#topicCreationLink {
  width: 83%;
  position: relative;
  left: 3%;
}

#topicCreationContent {
  width: 83%;
  height: 30%;
  position: relative;
  left: 3%;
}


#imageUploadButton {
  background-color: aqua;
}


.signupViewOne {

}

.signupViewTwo {
  
}

















